[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_ngprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=ng
Icon=

Name=National Geographic Picture of the Day
